/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
 
/*Positioning*/


body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.head, .k5 {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.k1{
  width: 480px;
  max-width: calc(100vw - 10px);
}

.k2{
  text-align: center;
  background: url('assets/me.jpg') no-repeat center center fixed;
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  max-width: 400px;
}

.k4{
  color:black
}

.k5{
  color:black
}

.k6 {
  text-align: center;
}

img{
  width:  120px;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
  background-color:  #666;
  filter: grayscale(30%);
  transition: all 0.5s ease-in-out;
}

img:hover{
  filter: grayscale(10%);
  transform: scale(1.1);
}

.fa:hover{
  filter: grayscale(10%);
  transform: scale(1.1);
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.me{
  margin-top: 10%;
  margin-bottom: 20%;
}



.from{
  color:black;
}

#what{
 margin-bottom: 2%;
 margin-top: 0.5%;
}

#codeberry{
  text-decoration: none;
}